/* line 1, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_base.scss */
.search-header {
  display: table;
  width: 100%; }

/* line 5, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_base.scss */
.search-header--title {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  height: 2em; }

/* line 13, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_base.scss */
.search-header--sort-by {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  width: 30%; }

/* line 19, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_base.scss */
.search-header--sort-by .ais-sort-by-selector {
  padding: .5em;
  color: #777;
  border: 0.08em solid rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: .5em;
  cursor: pointer;
  margin-left: 5px; }

/* line 5, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_sidebar.scss */
.search-stats {
  font-size: .9em;
  text-align: right;
  padding: .5em; }

/* line 14, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_sidebar.scss */
.search-tags-header {
  font-family: 'Proxima Nova Bold',"Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .175em;
  color: #333;
  border-bottom: .08em solid transparent;
  transition: background-color .3s; }

/* line 25, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_sidebar.scss */
.search-tags .ais-refinement-list--item {
  display: inline-block;
  background: #FFF;
  padding: .5em;
  margin: 0 .5em .5em 0;
  cursor: pointer; }

/* line 32, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_sidebar.scss */
.search-tags .ais-refinement-list--item:hover,
.search-tags .ais-refinement-list--item__active {
  background-color: #FF6; }

/* line 36, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_sidebar.scss */
.search-tags .ais-refinement-list--label {
  margin: 0;
  color: #333; }

/* line 40, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_sidebar.scss */
.search-tags .ais-refinement-list--checkbox {
  display: none; }

/* line 43, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_sidebar.scss */
.search-tags .ais-refinement-list--count {
  display: inline-block;
  background: #E53B2C;
  min-width: 10px;
  padding: 3px 5px;
  color: #FFF;
  font-size: .9em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px; }

/* line 60, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_sidebar.scss */
.search-tags .ais-refinement-list--item__active:hover {
  text-decoration: line-through; }
  /* line 62, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_sidebar.scss */
  .search-tags .ais-refinement-list--item__active:hover .ais-refinement-list--count {
    text-decoration: line-through; }

/* line 2, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hits {
  padding-top: 2em; }

/* line 5, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit {
  overflow: hidden;
  padding-bottom: 2em;
  font-size: .9em; }

/* line 10, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit--highlight {
  color: #E53B2C; }

/* line 13, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit--figure {
  float: left;
  width: 220px;
  text-align: center; }

/* line 18, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit--image {
  max-width: 200px;
  max-height: 150px;
  margin: 0 auto; }

/* line 23, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit--details {
  margin-left: 230px; }

/* line 26, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit--title {
  color: #333;
  font-size: 1.5em;
  line-height: 1.1;
  padding-top: .5em;
  font-family: "Skolar Bold","Segoe UI Bold","Roboto Slab","Droid Serif",AvenirNext-Bold,"Avenir Bold",Georgia,"Times New Roman",Times,serif; }

/* line 33, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit--infos {
  padding: .5em 0 0 0;
  font-size: 1em; }

/* line 38, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit--infos .search-hit--info {
  /* Overwrite styling to compact display */
  padding-top: 0;
  margin-top: .5em; }

/* line 43, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit--infos .search-hit--info__author {
  background: none; }

/* line 46, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit--infos .search-hit--info__date {
  background-position: 0 .2em; }

/* line 49, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit--infos .search-hit--info__tags {
  background-position: 0 -36px; }

/* line 52, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-hit--infos .search-hit--info__comments {
  background-position: 0 -78px; }

/* line 56, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.pmd + .search-hit--excerpt {
  font-size: 1.1em; }

/* line 62, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-pagination {
  margin-left: 220px;
  text-align: center; }

/* line 66, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-pagination .ais-pagination--item {
  padding: 0; }

/* line 69, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-pagination .ais-pagination--link {
  text-align: center;
  padding: .25em .75em;
  display: inline-block;
  border-radius: .1875em;
  border: none; }

/* line 76, /home/tim/local/www/algolia/demos/demo-smashingmagazine/app/styles/_hits.scss */
.search-pagination .ais-pagination--link:hover,
.search-pagination .ais-pagination--item__active .ais-pagination--link {
  background: #41b7d8;
  color: #FFF; }


/*# sourceMappingURL=main.css.map*/